@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@font-face {
  font-family: Cabin;
  src: url("/fonts/Cabin-Regular.ttf"); }
body {
  margin: 0;
  background: #f5f5f5;
  font-size: 16px;
  font-family: Cabin; }

.row {
  max-width: 100%; }

ul.menu {
  margin: 0;
  list-style: none; }
  ul.menu li a {
    text-decoration: none; }

.column + .column:last-child, .columns + .column:last-child, .column +
.columns:last-child, .columns +
.columns:last-child {
  float: left; }

h2 {
  font-size: 3.375em; }

h3 {
  font-size: 2.25em; }

p, a {
  font-size: 1em; }

p {
  margin-bottom: 1em;
  line-height: 1.4; }

a {
  color: #333; }

a.link {
  color: #008CBA; }

/**
 Main Header
 */
#main-content {
  margin-left: 50px; }
  #main-content #main-header {
    min-height: 50px;
    background: #fff; }
    #main-content #main-header nav {
      min-height: 50px; }
      #main-content #main-header nav input {
        min-height: 50px;
        margin-bottom: 0;
        border: none;
        box-shadow: none; }
    #main-content #main-header nav.main-nav ul li {
      display: inline-block;
      margin: 12.5px 2.25em 12.5px 0; }
      #main-content #main-header nav.main-nav ul li a {
        font-weight: bold; }

/**
 Main Navigation Sidebar
 */
#main-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  min-height: 100%;
  background: #34495e;
  z-index: 3;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }
  #main-sidebar.open {
    width: calc(50px + 200px); }
    #main-sidebar.open ul.sidebar-navigation .menu-text {
      display: inline-block;
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out; }
  #main-sidebar ul.sidebar-navigation {
    padding: 1rem; }
    #main-sidebar ul.sidebar-navigation li {
      margin-bottom: 1rem;
      width: 120px; }
      #main-sidebar ul.sidebar-navigation li .menu-text {
        display: none; }
      #main-sidebar ul.sidebar-navigation li .icon-container {
        display: inline-block;
        margin-right: 5px;
        width: 20px;
        text-align: center; }
      #main-sidebar ul.sidebar-navigation li ul.sub-menu {
        display: none;
        margin: .446rem 0 1.5rem 2.25rem; }
        #main-sidebar ul.sidebar-navigation li ul.sub-menu.open {
          display: block; }
        #main-sidebar ul.sidebar-navigation li ul.sub-menu li {
          margin-bottom: .444rem; }
      #main-sidebar ul.sidebar-navigation li a {
        color: #fff; }

#nav-icon-wrapper {
  height: 50px;
  background: #2c3e50; }

#nav-icon {
  width: calc(50px - 30px);
  margin-top: calc((50px - 16.5px)/2);
  height: 16.5px;
  position: absolute;
  right: calc((50px - (50px - 30px)) / 2);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  #nav-icon span {
    display: block;
    position: absolute;
    height: 2.5px;
    width: 100%;
    background: #ecf0f1;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    #nav-icon span:nth-child(2) {
      top: 7px; }
    #nav-icon span:nth-child(3) {
      top: 14px; }
  #nav-icon.expand span:nth-child(1) {
    top: 7px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  #nav-icon.expand span:nth-child(2) {
    opacity: 0;
    left: -60px; }
  #nav-icon.expand span:nth-child(3) {
    top: 7px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }

/**
 Main Content
*/
.content {
  padding: 1em; }

.search-filter .columns:last-child {
  float: left; }
.search-filter input.button[type="submit"] {
  height: 2.3125rem;
  padding-top: 0;
  padding-bottom: 0; }

.listing {
  margin-bottom: 1.5rem;
  padding: .667em 1em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .listing h3 {
    margin-top: 0; }
  .listing .tagline {
    margin-bottom: 0 !important; }

.detailed {
  padding: 1rem; }

.category {
  position: relative;
  height: 130px;
  background: rgba(1, 1, 1, 0.75);
  color: #fff; }
  .category .title-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; }

.bookmark {
  background: #fff; }
  .bookmark .title h2, .bookmark .title span {
    margin-right: 1rem;
    display: inline;
    vertical-align: middle; }
  .bookmark .title span {
    padding: .296rem;
    font-size: .667rem; }
  .bookmark .tagline {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .bookmark .tagline p, .bookmark .tagline a {
      margin-bottom: 0;
      line-height: 1.2; }
    .bookmark .tagline .left-image {
      margin-right: .446rem; }
    .bookmark .tagline span.fa-user {
      margin-right: .667rem;
      font-size: 2.25rem; }
    .bookmark .tagline .flex {
      flex: 1; }
  .bookmark .actions-container {
    float: right;
    height: 16px; }
    .bookmark .actions-container li {
      display: inline-block;
      margin-right: .667em; }
      .bookmark .actions-container li:last-child {
        margin-right: 0; }
      .bookmark .actions-container li button {
        padding: 0;
        background-color: transparent;
        color: #333; }

form label {
  font-size: 1rem; }
form span.required {
  font-size: .667em; }

#autocomplete {
  margin: 0; }

#autocomplete-results > div {
  background: white;
  border: 1px solid #ccc;
  border-top: 0;
  padding: .5rem;
  cursor: pointer; }

/*# sourceMappingURL=app.css.map */
