
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@font-face {
  font-family: Cabin;
  src: url('/fonts/Cabin-Regular.ttf');
}

// Variables
@import "variables";

// Mixins
$blue: #34495e;
$midnight-blue: #2c3e50;
$light-blue: #008CBA;
$silver: #ecf0f1;
$category-bg: #95a5a6;
$font-color: #333;

$navbar-height: 50px;
$sidebar-width: 50px;

// Resets
body {
  margin:0;
  background:#f5f5f5;
  font-size:16px;
  font-family: Cabin;
}

.row{
  max-width:100%;
}

ul.menu{
  margin:0;
  list-style: none;
  li{
    a{
      text-decoration: none;
    }
  }
}

.column + .column:last-child, .columns + .column:last-child, .column +
.columns:last-child, .columns +
.columns:last-child {
  float:left;
}
// Typography
h2{
  font-size:3.375em;
}

h3{
  font-size: 2.25em;
}

p, a{
  font-size: 1em;
}

p {
  margin-bottom: 1em;
}

a{
  color: $font-color;
}

a.link {
  color: $light-blue;
}

/**
 Main Header
 */
#main-content{
  margin-left:50px;

  #main-header{
    min-height:$navbar-height;
    background: #fff;

    nav{
      min-height: $navbar-height;
      input{
        min-height:$navbar-height;
        margin-bottom:0;
        border:none;
        box-shadow: none;
      }
    }

    nav.main-nav {
      ul {
        li {
          display: inline-block;
          margin:12.5px 2.25em 12.5px 0;
          a{
            font-weight: bold;
          }
        }
      }
    }
  }
}

/**
 Main Navigation Sidebar
 */
#main-sidebar{
  position: absolute;
  top:0;
  left:0;
  width:$sidebar-width;
  min-height:100%;
  background:$blue;
  z-index:3;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

  &.open{
    width:calc(#{$sidebar-width} + 200px);

    ul.sidebar-navigation{
      i{

      }
      .menu-text{
        display: inline-block;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
      }
    }
  }

  ul.sidebar-navigation{
    padding:1rem;

    li{
      margin-bottom:1rem;
      width:120px;
      .menu-text{
        display: none;
      }

      .icon-container {
        display: inline-block;
        margin-right: 5px;
        width: 20px;
        text-align: center;
      }
      
      ul.sub-menu{
        display: none;
        margin:.446rem 0 1.5rem 1.5rem;

        &.open {
          display: block;
        }

        li{
          margin-bottom: .444rem;
        }
      }
      
      a{
        color:#fff;
      }
    }
  }
}

#nav-icon-wrapper{
  height:50px;
  background:$midnight-blue;
}

#nav-icon {
  width: calc(#{$sidebar-width} - 30px);
  margin-top:calc((#{$navbar-height} - 16.5px)/2);
  height: 16.5px;
  position: absolute;
  right:calc((#{$sidebar-width} - (#{$sidebar-width} - 30px)) / 2);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span{
    display: block;
    position: absolute;
    height: 2.5px;
    width: 100%;
    background: $silver;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    &:nth-child(2){
      top:7px;
    }

    &:nth-child(3){
      top:14px;
    }
  }

  &.expand {
    span {
      &:nth-child(1) {
        top: 7px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      &:nth-child(3) {
        top: 7px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
}

/**
 Main Content
*/
.content{
  padding:1em;
}

.search-filter {
  .columns:last-child {
    float: left;
  }

  input.button[type="submit"] {
    height:2.3125rem;
    padding-top: 0;
    padding-bottom:0;
  }
}

.listing{
  margin-bottom: 1.5rem;
  padding:.667em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.detailed {
  padding:1rem;
}

.category {
  position: relative;
  height: 130px;
  background: rgba(1, 1, 1, .75);
  color: #fff;

  .title-container {
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    text-align: center;
  }
}

.bookmark {
  background: #fff;

  .title{
    h2, span{
      margin-right:1rem;
      display:inline;
      vertical-align: middle;
    }

    span {
      padding: .296rem;
      font-size: .667rem;
    }
  }

  .tagline {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .flex {
      flex: 1;
    }
  }

  .bookmark-meta-info {
    img, p{
      display: inline-block;
      vertical-align: middle;
      margin-right: .667rem;
    }

    p {
      max-width: 80%;
      margin-bottom: 0;
      line-height: 1.2;
    }
  }

  .actions-container {
    float:right;
    height:16px;
    li {
      display: inline-block;
      margin-right: .667em;

      &:last-child {
        margin-right:0;
      }

      button {
        padding:0;
        background-color: transparent;
        color: #333;
      }
    }
  }
}

// Forms
form{
  label{
    font-size:1rem;
  }

  span.required{
    font-size: .667em;
  }
}